<div class="page-content container" ng-controller="loginCtrl">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-wrapper">
			        <div class="box">
			            <div class="content-wrap">
			                <h6>Employee Timesheet</h6>
			                <form>
				               
				               	<select required class="form-control" ng-model="emp_id" ng-options="(item.first_name + ' ' + item.last_name+' - '+item.id) | capitalize for item in emp track by item.id">
				               		<option value="">Select Employee</option>
				               	</select>
				               	</br>
				                <input class="form-control" ng-model="pass" type="password" placeholder="Password" required>
				                <div class="action">
				                    <button ng-click="login()" class="btn btn-primary signup">Login</button>
				                    <!--<a ng-click="logout()" class="btn btn-danger signup">Logout</a>-->
				                </div>
			                </form>                
			            </div>
			        </div>

			        
			    </div>
			</div>
		</div>
	</div>