<style type="text/css">
		  		.welcome{
		  			    text-align: center;
					    font-size: 18px;
					    font-weight: bold;
		  		}
		  	</style>
		  	<div class="col-md-10">
			  	<div class="row">
			  		<div class="content-box-large text-center">
			  			<p class="welcome">{{login_message}}.</br></p>
			  			<p class="welcome" ng-show="authUser.logged_in_time">Your login time is: {{authUser.logged_in_time}} </p>
			  			<a class="btn btn-primary" ng-show="!authUser.logged_in_time" ng-click="timein()" >Time In</a>
			  			<a class="btn btn-danger" ng-show="authUser.logged_in_time" ui-sref="logout" >Time Out</a>
			  			<a class="btn btn-danger" ng-show="!authUser.logged_in_time" ng-click="logout()" >Logout</a>
			  		</div>	
				</div>
			</div>

